.Table {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 200px);
    width: 360px;
    position: relative;
}

.Balance {
    position: absolute;
    top: 20%;
    left: 15%;
}

.Mirror {
    position: absolute;
    top: 20%;
    right: 10%;
}

.Gate {
    position: absolute;
    bottom: 25%;
    left: 15%;
}

.Chassis {
    position: absolute;
    top: 35%;
    left: 45%;
}

.Lens {
    position: absolute;
    bottom: 15%;
    left: 40%;
}

.Battery {
    position: absolute;
    bottom: 20%;
    right: 20%;
}
