.Button {
    background-color: #463424;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.Button:hover {
    cursor: pointer;
}

.Button:disabled {
    opacity: 0;
    cursor: unset;
}