.Map {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 80px);
    width: calc(100vh - 80px);
    position: relative;
}

.Peak {
    height: 50px;
    position: absolute;
    top: 15%;
    left: 15%;
}

.Wilds {
    height: 50px;
    position: absolute;
    top: 25%;
    right: 20%;
}

.Root {
    height: 50px;
    position: absolute;
    top: 45%;
    left: 20%;
}

.Canyon {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 52%;
}

.Ruined {
    height: 50px;
    position: absolute;
    bottom: 15%;
    left: 20%;
}

.Maw {
    height: 50px;
    position: absolute;
    bottom: 15%;
    right: 20%;
}
