.Background {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 20px;
}

.Window {
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    height: calc(100vh - 40px);
    width: calc(100vh - 40px);
}

.Image {
    margin: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
}

.Instructions {
    min-width: 400px;
    background-color: #fff;
    color: #463424;
    padding: 10px;
    border-radius: 20px;
}

.Instructions h1,
.Instructions h2 {
    text-align: center;
}
